Package            Version
------------------ ---------------
backports.tarfile  1.2.0
certifi            2021.5.30
chardet            4.0.0
idna               2.10
importlib_metadata 8.7.0
jaraco.classes     3.4.0
jaraco.context     6.0.1
jaraco.functools   4.3.0
keyring            25.6.0
more-itertools     10.7.0
OTXv2              1.5.12
pip                25.2
prompt_toolkit     3.0.51
python-dateutil    2.9.0.post0
pytz               2025.2
requests           2.25.1
setuptools         50.3.2
six                1.17.0
types-setuptools   80.9.0.20250809
urllib3            1.26.6
wcwidth            0.2.13
wheel              0.35.1
zipp               3.23.0
