Package          Version
---------------- ---------------
certifi          2021.5.30
chardet          4.0.0
idna             2.10
pip              25.2
requests         2.25.1
setuptools       50.3.2
types-setuptools 80.9.0.20250809
urllib3          1.26.6
wheel            0.35.1
